.git
../../.gitignore
.github
.idea
.vscode
.pytest_cache
.ruff_cache
.mypy_cache
__pycache__
*.pyc
*.pyo
*.pyd
*.log
.coverage
htmlcov
dist
build
*.egg-info
.venv
.env
docker/vault/*.local
.token
.keys
cluster-keys.json