.git
.gitignore
.github
.idea
.vscode

.pytest_cache
.ruff_cache
.mypy_cache
.pyre
.pytype
__pycache__
*.pyc
*.pyo
*.pyd
*.log

.coverage
.coverage.*
htmlcov

dist
build
*.egg-info

.venv
.env
.env.*

tests